<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/about-us.jpg" alt="">
</section>

<section class="about p-page">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-20-m">About Us</h2>
    <div class="row row-about">
      <div class="col-md-6 wow fadeInRight">
        <img src="{base_url}asset/images/about1.jpg" alt="" class="box-shadow">
      </div>
      <div class="col-md-6 d-flex align-items-center wow fadeInLeft order-md-first">
        <div>
          <p>Ardia Perdana Indonesia is an End-to-end supply chain management partner of healthcare industries to have control with flexible and excellent process.</p>
        </div>
      </div>
      </div> 
    <div class="row row-about">
      <div class="col-md-6 wow fadeInLeft">
        <img src="{base_url}asset/images/about2.jpg" alt="" class="box-shadow">
      </div>
      <div class="col-md-6 d-flex align-items-center wow fadeInRight">
        <div>
          <p>Established in 2012</p>
          <p>End-to-end supply chain management partner</p>
          <p>Strong track  record and  MNC background</p>
        </div>
      </div>
      </div> 
      <div class="line-intro wow fadeInUp">We strive to become one-stop solution and partner of our customer which allows them to have control as if having own entity with flexible & best value cost.</div>
    <div class="row row-about">
      <div class="col-md-6 wow fadeInLeft">
        <img src="{base_url}asset/images/vision.jpg" alt="" class="box-shadow">
      </div>
      <div class="col-md-6 d-flex align-items-center wow fadeInRight">
        <div>
          <h3>OUR Vision</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, est, natus. Laborum hic eaque quisquam officia accusantium a cumque facilis, optio beatae ut animi illum ad, debitis, ducimus, corporis maxime?</p>
        </div>
      </div>
      </div> 
    <div class="row row-about">
      <div class="col-md-6 wow fadeInRight">
        <img src="{base_url}asset/images/mission.jpg" alt="" class="box-shadow">
      </div>
      <div class="col-md-6 d-flex align-items-center wow fadeInLeft md-order-first">
        <div>
          <h3>OUR Mission</h3>
          <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Ratione excepturi quo, totam, esse quasi laborum dolorum repudiandae sequi, quaerat ab illum, ut. Molestias, asperiores illum. Mollitia asperiores veniam ea corporis!</p>
        </div>
      </div>
      </div> 
    <div class="row row-about">
      <div class="col-md-6 wow fadeInLeft">
        <img src="{base_url}asset/images/values.jpg" alt="">
      </div>
      <div class="col-md-6 d-flex align-items-center wow fadeInRight">
        <div>
          <h3>OUR Value</h3>
          <p>Our PASSION and INTEGRITY <br> will deliver EXCELLENCE and COMPLIANCE <br>through EMPOWERMENT and AGILITY </p>
        </div>
      </div>
      </div> 
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">Need Urgent Advice?</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="#" class="btn btn-outline-light wow fadeInLeft me-3 px-4">Call Us Now!</a>
        <a href="#" class="btn btn-outline-light wow fadeInRight px-5">E-Mail Us</a>
      </div>
    </div>
  </div>
</section>