<section class="banner-page wow fadeInDown">
  <img src="{img}" alt="">
</section>

<section class="about p-page">
  <div class="container">
    {description}
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">{lang_need_urgent}</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="tel:{single_phone}" class="btn btn-outline-light wow fadeInLeft me-3 px-4">{lang_call_us_now}</a>
        <a href="mailto:{email_address}" class="btn btn-outline-light wow fadeInRight px-5">{lang_email_us}</a>
      </div>
    </div>
  </div>
</section>