<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="articles p-page">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-20-m">Our Articles</h2>
    <div class="row">
      <div class="col-md-8 col-articles">
        <a href="{base_url_lang}articles/detail" class="c-latest wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/latest1.jpg" alt=""></div>
          <div class="desc">
            <h3>Mirage Deep Dive Understanding Timing Response</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident ut repellendus magni obcaecati hic a veritatis, similique dolores itaque. Ullam, dignissimos laborum tempora officiis excepturi nostrum nemo, repellat magnam.</p>
            <div class="text-end mt-5">
              <span class="btn btn-outline-primary">Read More</span>
            </div>
          </div>
        </a>
        <a href="{base_url_lang}articles/detail" class="c-latest wow fadeInUp">
          <div class="thumb"><img src="{base_url}asset/images/latest1.jpg" alt=""></div>
          <div class="desc">
            <h3>Mirage Deep Dive Understanding Timing Response</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident ut repellendus magni obcaecati hic a veritatis, similique dolores itaque. Ullam, dignissimos laborum tempora officiis excepturi nostrum nemo, repellat magnam.</p>
            <div class="text-end mt-5">
              <span class="btn btn-outline-primary">Read More</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <div id="actionRAnchor"></div>
        <div class="r-act-btn wow fadeInUp" id="actionR">
          <a href="#" class="btn btn-orange mb-5">
            <div>
              <img src="{base_url}asset/images/our-client.png" alt="">
            </div>
            <div class="d-flex align-items-center">
              <span>
                <span>Join our <b>Client Area</b></span>
                <span class="fs-14">for <b><i>Special Client Service</i></b></span>
              </span>
            </div>
          </a>
          <a href="#" class="btn btn-orange-outline mb-5">
            <i data-feather='mail'></i>
            Email us now!
          </a>
          <a href="#" class="btn btn-orange-outline">
            <i data-feather='phone-call'></i>
            Call us now!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>