<section class="articles-dtl">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-dtl-articles">
        <img src="{base_url}asset/images/latest1.jpg" alt="" width="100%" class="wow fadeInUp">
        <div class="desc-articles  wow fadeInUp">
          <h2>Mirage Deep Dive Understanding Timing Response</h2>
          <div class="share-dtl">
            <span>
              <a href="#" class="facebook"><img src="{base_url}asset/images/fb.jpg" alt=""></a>
              <a href="#" class="twitter"><img src="{base_url}asset/images/tw.jpg" alt=""></a>
              <a href="#" class="gplus"><img src="{base_url}asset/images/gplus.jpg" alt=""></a>
              <a href="#" class="whatsapp"><img src="{base_url}asset/images/wa.jpg" alt=""></a>
              <a href="#" class="plus"><img src="{base_url}asset/images/plus.jpg" alt=""></a>		
            </span>
          </div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Quos ad repellat culpa doloremque architecto. Est quae officia sequi modi nihil nam. Dolore provident cupiditate ea dolorem doloremque? Dolor at, quas. Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Et excepturi quisquam sit possimus ullam dicta nisi quia, sed molestiae harum vel necessitatibus error velit delectus. Odit doloribus expedita, alias vitae!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Quos ad repellat culpa doloremque architecto. Est quae officia sequi modi nihil nam. Dolore provident cupiditate ea dolorem doloremque? Dolor at, quas. Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Et excepturi quisquam sit possimus ullam dicta nisi quia!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Quos ad repellat culpa doloremque architecto. Est quae officia sequi modi nihil nam. Dolore provident cupiditate ea dolorem doloremque? Dolor at, quas. Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Et excepturi quisquam sit possimus ullam dicta nisi quia! Dolor at, quas. Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Et excepturi quisquam sit possimus ullam dicta nisi quia!</p>
          <div class="intro-dtl">Lorem Ipsum dolor sit amet, consectetur adipiscing elit tiam a tellus nibh. </div>
          <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Nihil, nesciunt iure minima dolorum. Quo assumenda officia ipsam nesciunt, rerum nisi quasi itaque odit reprehenderit natus, quaerat? Quam est, quia inventore. sed molestiae harum vel necessitatibus error velit delectus. Odit doloribus expedita, alias vitae</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore error accusamus distinctio dicta omnis dignissimos nobis, unde molestias beatae consequatur nostrum voluptatem, modi perferendis, odit cumque deserunt! Dolore, placeat, fugit!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat nesciunt, architecto tenetur repellat, sit facere culpa, nostrum delectus ea labore illum totam vero odit iusto quibusdam. Reiciendis, distinctio sunt itaque?</p>
          <div class="share-dtl mt-5">
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b440266b954307"></script>
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="actionRAnchor"></div>
        <div class="r-act-btn wow fadeInUp" id="actionR">
          <a href="#" class="btn btn-orange mb-5">
            <div>
              <img src="{base_url}asset/images/our-client.png" alt="">
            </div>
            <div class="d-flex align-items-center">
              <span>
                <span>Join our <b>Client Area</b></span>
                <span class="fs-14">for <b><i>Special Client Service</i></b></span>
              </span>
            </div>
          </a>
          <a href="#" class="btn btn-orange-outline mb-5">
            <i data-feather='mail'></i>
            E-mail Us Now!
          </a>
          <a href="#" class="btn btn-orange-outline">
            <i data-feather='phone-call'></i>
            Call Us Now!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>