<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="careers p-page">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-20-m">Careers</h2>
    <div class="row mb-5 mb-20-m">
          <div class="col-lg-12 col-dtl">
            <div class="c-detail">
              <div class="title-dtl">Product Executive</div>
              <table class="pos-desc">
                <tr>
                  <td>Departtement:</td>
                  <td>Operations</td>
                </tr>
                <tr>
                  <td>Type:</td>
                  <td>Full Time</td>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td>Cikarang</td>
                </tr>
                <tr>
                  <td>Salary Range:</td>
                  <td>Rp 10.000.000 - Rp 20.000.000</td>
                </tr>
              </table>
              <div class="share-dtl mt-3 mb-5">
            <span>
              <a href="#" class="facebook"><img src="{base_url}asset/images/fb.jpg" alt=""></a>
              <a href="#" class="twitter"><img src="{base_url}asset/images/tw.jpg" alt=""></a>
              <a href="#" class="gplus"><img src="{base_url}asset/images/gplus.jpg" alt=""></a>
              <a href="#" class="whatsapp"><img src="{base_url}asset/images/wa.jpg" alt=""></a>
              <a href="#" class="plus"><img src="{base_url}asset/images/plus.jpg" alt=""></a>		
            </span>
          </div>
          <h5>About the Role</h5>
          <p>Ardia started humbly from Indonesia and is growing fast. We are looking to bet on our next rockstar who can learn and grow together with us. You will be part of the early team to shape and accelerate the growth of the company.  </p>
          <p>A product executive is a role within Ardia product team, who forms a bridge between Ardia and our customers. He/she is someone who craves improving our products/features based on customer feedback, so we are able to achieve a world class user experience, with industry benchmark level UX metrics. There will be a focus on Southeast Asia, and in particular, Indonesia. </p>
          <h5>You are / have</h5>
          <ul>
            <li>
              Fluent or Native in written and spoken Bahasa	
            </li>
            <li>Fluent in written and spoken English</li>
            <li>An excellent communicator who’s comfortable speaking and reaching out to people from different walks of life </li>
            <li>A customer-obsessed person, you always put yourself in the customer’s shoes </li>
            <li>A curious person who obsesses over how to improve and optimize a product based on user experience research and customer voices  </li>
            <li>A self-starter and able to work independently with less supervision</li>
          </ul>
          <h5>A plus if you have: </h5>
          <ul>
            <li>
              Agile mindset, we’re a startup, so many things may change in the blink of an eye
            </li>
            <li>Prior experiences in product development and project management </li>
            <li>Experience at writing or editing content for web and mobile experiences</li>
            <li>Experience at doing user research or user research recruitment</li>
            <li>Experience with working on digital products</li>
          </ul>
          <h5>You Will Find Yourself:</h5>
          <p>ngaged a lot in the efforts of improving the usability of our products, mainly to ensure our native Bahasa customers can use our app in the most convenient way, for example, by ensuring all of our products are available in Bahasa with enticing copywriting, UX writing and translating our contents to Bahasa Speaking to our customers again and again Manage all aspects of participant recruitment for user experience research studies, including but not limited to: recruiting from multiple sources, outreach, screening, scheduling, participation agreements, privacy, and incentives management.</p>
          <p>Collaborating with Ardia  squads intensely in order to ensure our products and offerings can solve our lovely customers’ pain points and reach their goals Work hard and play harder in a fun and supportive environment Collaborating with a diverse team of product managers, product designers, and ux researchers Bonus if you can offer a content strategy perspective throughout the product development process, and influence strategic decisions across and within products to improve the overall experience and ensure consistency across platforms</p>
          <h5>Potential Performance Indicators:</h5>
          <ul>
            <li>Overall Results – Uplift in UX Metrics (eg. UMUX, HEART, SUS), maturity scores and NPS. </li>
            <li>Overall Outputs – Formulate actionable insights based on research conducted to businesses in Indonesia</li>
            <li>Overall Outputs – Copy output and deadline management</li>
          </ul>
          <h5>The Offer:</h5>
          <ul>
            <li>The opportunity to be part of the team that paints Ardia.</li>
            <li>Be part of a fast-paced growth environment that always stretches you and forces you to be slightly uncomfortable</li>
            <li>Work with talented, intense and motivated colleagues in a dynamic and vibrant environment</li>
          </ul>
          <div class="share-dtl my-5">
            <b>Share:</b>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b440266b954307"></script>
            <div class="addthis_inline_share_toolbox"></div>
          </div>
          <div class="btn-apply">
            <a href="#" class="btn btn-outline-primary py-2 px-5">Apply Now</a>
          </div>
        </div>
          </div>
      </div> 
  </div>
</section>