<section class="maps-contact wow fadeInDown">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.851486852934!2d106.89547891458!3d-6.15063819554684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f54656f9e5ab%3A0x39400269968fe8fd!2sArdia!5e0!3m2!1sid!2sid!4v1646882576171!5m2!1sid!2sid" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

<section class="contact-form p-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-form">
        <h4 class="mb-5 wow fadeInUp">Tell Us your problems, <br>sand we will contact you for the best solutions!</h4>
        <form action="">
          <div class="row mb-4 wow fadeInUp">
            <div class="col-sm-4 col-md-3"><label for="">Full Name <span class="text-danger">*</span></label></div>
            <div class="col-sm-8 col-md-9">
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="row mb-4 wow fadeInUp">
            <div class="col-sm-4 col-md-3"><label for="">Email <span class="text-danger">*</span></label></div>
            <div class="col-sm-8 col-md-9">
              <input type="email" class="form-control" placeholder="">
            </div>
          </div>
          <div class="row mb-4 wow fadeInUp">
            <div class="col-sm-4 col-md-3"><label for="">WhatsApp Number</label></div>
            <div class="col-sm-8 col-md-9">
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="row mb-4 wow fadeInUp">
            <div class="col-sm-4 col-md-3"><label for="">Notes</label></div>
            <div class="col-sm-8 col-md-9">
              <textarea class="form-control" placeholder="" rows="4"></textarea>
            </div>
          </div>
          <div class="row mb-4 wow fadeInUp">
            <div class="col-sm-4 col-md-3"></div>
            <div class="col-sm-8 col-md-9 mb-5"><img src="{base_url}asset/images/captcha.jpg" alt=""></div>
            <div class="col-sm-4 col-md-3"></div>
            <div class="col-sm-8 col-md-9">
              <button class="btn btn-outline-primary w-100">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div id="actionRAnchor"></div>
        <div class="r-act-btn wow fadeInUp" id="actionR">
          <a href="#" class="btn btn-orange mb-5">
            <div>
              <img src="{base_url}asset/images/our-client.png" alt="">
            </div>
            <div class="d-flex align-items-center">
              <span>
                <span>Join our <b>Client Area</b></span>
                <span class="fs-14">for <b><i>Special Client Service</i></b></span>
              </span>
            </div>
          </a>
          <a href="#" class="btn btn-orange-outline mb-5">
            <i data-feather='mail'></i>
            Email us now!
          </a>
          <a href="#" class="btn btn-orange-outline">
            <i data-feather='phone-call'></i>
            Call us now!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>