<section class="articles-dtl">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-dtl-articles">
        <img src="{img}" alt="" width="100%" class="wow fadeInUp">
        <div class="desc-articles  wow fadeInUp">
          <h2>{title}</h2>
          <div class="share-dtl">
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b440266b954307"></script>
            <div class="addthis_inline_share_toolbox"></div>
          </div>
          {description}
          <div class="share-dtl mt-5">
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="actionRAnchor"></div>
        <div class="r-act-btn wow fadeInUp" id="actionR">
          <a href="#" class="btn btn-orange mb-5">
            <div>
              <img src="{base_url}asset/images/our-client.png" alt="">
            </div>
            <div class="d-flex align-items-center">
              <span>
                <span>Join our <b>Client Area</b></span>
                <span class="fs-14">for <b><i>Special Client Service</i></b></span>
              </span>
            </div>
          </a>
          <a href="tel:{email_address}" class="btn btn-orange-outline mb-5">
            <i data-feather='mail'></i>
            {lang_email_us}
          </a>
          <a href="mailto:{single_phone}" class="btn btn-orange-outline">
            <i data-feather='phone-call'></i>
            {lang_call_us_now}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>