<section class="banner-index">
  <div class="container">
    <div class="owl-carousel owl-theme owl-index" id="slide-index">
        {list_slideshow}
        <div class="item">
          <div class="item-slide container">
            <div class="desc-slide">
              <div class="text-desc">
                <div class="td wow zoomIn" data-wow-duration=".5s">
                  <span class="wow" data-wow-duration=".3s">{slideshow_sub_title}</span>
                  <h2 class="wow" data-wow-duration=".6s">{slideshow_title}</h2>
                  <p class="wow mb-0" data-wow-duration=".9s">{description}</p>
                </div>
              </div>
              <div class="img-desc"><img src="{img}" alt="" class="wow fadeInRight" data-wow-duration="2s"></div>
            </div>
          </div>
        </div>
        {/list_slideshow}
    </div>
  </div>
</section>

<section class="collection">
  <h2 class="title-sec wow fadeInUp mb-5">{lang_collection}</h2>
  <div class="container">
    <div class="row">
      {list_product}
      <div class="col-md-4">
        <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
          <div class="desc">
            <h3>{title}</h3>
            <a href="{url}" class="btn btn-outline-primary">Order Now</a>
            <div class="thumb"><img src="{img}" alt=""></div>
          </div>
        </div>
      </div>
      {/list_product}
    </div>
  </div>
</section>

<section class="banner">
  <img src="{base_url}asset/images/banner.jpg" alt="" class="wow fadeInUp">
  <div class="text-banner">
    <div class="container">
      <div class="row justify-content-end">
      <div class="col-6 wow fadeInDown">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
      </div>
    </div>
  </div>
</section>

<section class="services">
  <h2 class="title-sec wow fadeInUp mb-5">{lang_our_services}</h2>
  <div class="container">
    <div class="row">
      {list_service}
      <div class="col-md-4">
        <a href="{base_url}service/detail/{uri_path}" class="c-services wow fadeInUp" data-wow-duration=".5s">
          <img src="{img}">
          <div class="desc">
            <h2>{title}</h2>
            <p>{teaser}</p>
          </div>
        </a>
      </div>
      {/list_service}
    </div>
  </div>
  <img src="{base_url}asset/images/bg-services.jpg" alt="" class="bg-services wow fadeInUp" data-wow-duration="3.5s">
</section>

<section class="latest">
  <h2 class="title-sec wow fadeInUp mb-5">{lang_last_article}</h2>
  <div class="container">
    <div class="row row-20">
      {list_article}
      <div class="col-md-4 col-20">
        <a href="{base_url}article/detail/{uri_path}" class="c-latest wow fadeInUp" data-wow-duration=".5s">
          <div class="thumb"><img src="{img}" alt=""></div>
          <div class="desc">
            <h3>{title}</h3>
            <p>{teaser}</p>
          </div>
        </a>
      </div>
      {/list_article}
    </div>
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">{lang_need_urgent}</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="tel:{single_phone}" class="btn btn-outline-light wow fadeInLeft me-3 px-4">{lang_call_us_now}</a>
        <a href="mailto:{email_address}" class="btn btn-outline-light wow fadeInRight px-5">{lang_email_us}</a>
      </div>
    </div>
  </div>
</section>