<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="product p-page">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-20-m">Product</h2>
    <div class="row mb-5 mb-20-m">
          <div class="col-6">
                  <button class="btn btn-glp wow zoomIn active" id="grid"><i data-feather="grid"></i></button>
                  <button class="btn btn-glp wow zoomIn" id="list"><i data-feather="menu"></i></button>
          </div>
          <div class="col-6 text-end">
            <select name="" id="" class="form-select sort wow zoomIn">
              <option value="">Sort By Latest</option>
              <option value="2">Sort By A - Z</option>
              <option value="3">Sort By Z - A</option>
            </select>
          </div>
      </div> 
    <div class="row" id="products">
      <a href="{base_url_lang}product/detail" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>Multipurpose Disintfectant</h3>
              <div class="thumb"><img src="{base_url}asset/images/coll-1.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>Multipurpose Disintfectant</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
            <div class="price">
              <span>Rp 23.456</span>
              <i>Rp 12.345</i>
            </div>
          </div>
        </div>
      </a>
      <a href="{base_url_lang}product/detail" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>Povidone Iodine</h3>
              <div class="thumb"><img src="{base_url}asset/images/coll-2.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>Povidone Iodine</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
            <div class="price">
              <span>Rp 23.456</span>
              <i>Rp 12.345</i>
            </div>
          </div>
        </div>
      </a>
      <a href="{base_url_lang}product/detail" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>Multipurpose Disintfectant</h3>
              <div class="thumb"><img src="{base_url}asset/images/coll-1.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>Multipurpose Disintfectant</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
            <div class="price">
              <span>Rp 23.456</span>
              <i>Rp 12.345</i>
            </div>
          </div>
        </div>
      </a>
      <a href="{base_url_lang}product/detail" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>Povidone Iodine</h3>
              <div class="thumb"><img src="{base_url}asset/images/coll-2.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>Povidone Iodine</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
            <div class="price">
              <span>Rp 23.456</span>
              <i>Rp 12.345</i>
            </div>
          </div>
        </div>
      </a>
      <a href="{base_url_lang}product/detail" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>Multipurpose Disintfectant</h3>
              <div class="thumb"><img src="{base_url}asset/images/coll-1.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>Multipurpose Disintfectant</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
            <div class="price">
              <span>Rp 23.456</span>
              <i>Rp 12.345</i>
            </div>
          </div>
        </div>
      </a>
      <a href="{base_url_lang}product/detail" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>Povidone Iodine</h3>
              <div class="thumb"><img src="{base_url}asset/images/coll-2.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>Povidone Iodine</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
            <div class="price">
              <span>Rp 23.456</span>
              <i>Rp 12.345</i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">Need Urgent Advice?</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="#" class="btn btn-outline-light wow fadeInLeft me-3 px-4">Call Us Now!</a>
        <a href="#" class="btn btn-outline-light wow fadeInRight px-5">E-Mail Us</a>
      </div>
    </div>
  </div>
</section>