<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="product p-page">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-20-m">{lang_menu_product}</h2>
    <div class="row mb-5 mb-20-m">
          <div class="col-6">
                  <button class="btn btn-glp wow zoomIn active" id="grid"><i data-feather="grid"></i></button>
                  <button class="btn btn-glp wow zoomIn" id="list"><i data-feather="menu"></i></button>
          </div>
          <div class="col-6 text-end">
            <select name="sort" id="sort" class="form-select sort wow zoomIn">
              <option value="1" {selected_1}>Sort By Latest</option>
              <option value="2" {selected_2}>Sort By A - Z</option>
              <option value="3" {selected_3}>Sort By Z - A</option>
            </select>
          </div>
      </div> 
    <div class="row" id="products">
      {list_product}
      <a href="{base_url_lang}product/detail/{uri_path}" class="col-md-4 item-product">
        <div class="thumb-list">
          <div class="c-coll wow fadeInUp" data-wow-duration=".5s">
            <div class="desc">
              <h3>{title}</h3>
              <div class="thumb"><img src="{img}" alt=""></div>
            </div>
          </div>
        </div>
        <div class="decs-list">
          <div>
            <h3>{title}</h3>
            <p>{teaser}</p>
            <div class="price">
              <span>{price}</span>
              <i>{price}</i>
            </div>
          </div>
        </div>
      </a>
      {/list_product}
    </div>
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">{lang_need_urgent}</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="tel:{single_phone}" class="btn btn-outline-light wow fadeInLeft me-3 px-4">{lang_call_us_now}</a>
        <a href="mailto:{email_address}" class="btn btn-outline-light wow fadeInRight px-5">{lang_email_us}</a>
      </div>
    </div>
  </div>
</section>