<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="services">
  <div class="container">
    <h2 class="title-sec wow fadeInUp mb-5 text-start">{lang_our_services}</h2>
    <div class="row">
      {list_services}
      <div class="col-md-4">
        <a href="{base_url_lang}services/detail/{uri_path}" class="c-services wow fadeInUp" data-wow-duration=".5s">
          <img src="{img}">
          <div class="desc">
            <h2>{title}</h2>
            <p>{teaser}</p>
          </div>
        </a>
      </div>
      {/list_services}
    </div>
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">{lang_need_urgent}</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="tel:{single_phone}" class="btn btn-outline-light wow fadeInLeft me-3 px-4">{lang_call_us_now}</a>
        <a href="mailto:{email_address}" class="btn btn-outline-light wow fadeInRight px-5">{lang_email_us}</a>
      </div>
    </div>
  </div>
</section>