<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="product pt-30-m">
  <div class="container">
    <h2 class="title-sec text-start wow fadeInUp mb-5 mb-30-m">Box Moving</h2>
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="product-detail services-dtl">
          <div class="thumb wow fadeInLeft"><img src="{base_url}asset/images/services1.jpg" alt=""></div>
          <div class="desc wow fadeInRight">
            <div>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
              <p>Nobis accusantium ut, repudiandae, commodi quo impedit qui similique aliquam? Possimus labore ea ipsum neque iure.</p>
              <p>Possimus labore ea ipsum neque iure, quae tenetur soluta dignissimos quis, omnis.</p>
              <div class="share-dtl mt-5">
                <b>Share:</b>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b440266b954307"></script>
                <div class="addthis_inline_share_toolbox"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>