<section class="banner-page wow fadeInDown">
  <img src="{base_url}asset/images/banner-product.jpg" alt="">
</section>

<section class="services">
  <div class="container">
    <h2 class="title-sec wow fadeInUp mb-5 text-start">Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <a href="{base_url_lang}services/detail" class="c-services wow fadeInUp" data-wow-duration=".5s">
          <img src="{base_url}asset/images/services1.jpg">
          <div class="desc">
            <h2>Box Moving</h2>
            <p>We are focusing on logistics service which does not carry the trading risk which does not carry the trading risk</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="{base_url_lang}services/detail" class="c-services wow fadeInUp" data-wow-duration="1.5s">
          <img src="{base_url}asset/images/services2.jpg">
          <div class="desc">
            <h2>Pre- Market</h2>
            <p>We are focusing on logistics service which does not carry the trading risk which does not carry the trading risk</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="{base_url_lang}services/detail" class="c-services wow fadeInUp" data-wow-duration="2.5s">
          <img src="{base_url}asset/images/services3.jpg">
          <div class="desc">
            <h2>License Holding</h2>
            <p>We are focusing on logistics service which does not carry the trading risk which does not carry the trading risk</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="need-further">
  <div class="container text-center">
    <h3 class="wow fadeInUp mb-4">Need Urgent Advice?</h3>
    <div class="text-center">
      <div class="d-inline-flex">
        <a href="#" class="btn btn-outline-light wow fadeInLeft me-3 px-4">Call Us Now!</a>
        <a href="#" class="btn btn-outline-light wow fadeInRight px-5">E-Mail Us</a>
      </div>
    </div>
  </div>
</section>